body {
    font-family: 'Tiro Tamil', serif;
    background: linear-gradient(purple, gold);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    font-size: 3em;
    color: black;
    font-weight: bold;
  }
  
  /* .form {
    background-color: #fff;
    max-width: 360px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  } */
  
  .form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: black;
    text-align: center;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .form button[type="submit"] {
    font-family: 'Tiro Tamil', serif;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    background-color: darkslategrey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form button[type="submit"]:hover {
    background-color: #135d9e;
  }
  