
body {
  font-family: 'Tiro Tamil', serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #1d1818;
}

.delete_div {
  display: flex;
  justify-content: center;
}

.event_handler {
  flex: 1;
  text-align: center;
  align-items: center;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.events {
  border: 1px solid #703030;
  margin: auto;
  height: 20em;
  width: 70%;
  overflow-y: scroll;
  text-align: center;
  align-items: center;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
  color: #337ab7;
}

h3 {
  margin: 10px 0;
  color: #211709;
}

button[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #f0ad4e;
}

.event-description {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  color: #333;
}

.event-description:focus {
  outline: none;
  border-color: #337ab7;
}


/* body {
    font-family: 'Tiro Tamil', serif;
    background-color: #f4f4f4;
  }
  
.delete_divs {
    display: flex;
    justify-content: center;
  }
  
.event_handler {
    flex: 1;
    text-align: center;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
.events {
    border: 1px solid #ddd;
    margin: auto;
    height: 20em;
    width: 70%;
    overflow: scroll;
    text-align: center;
    align-items: center;
    padding: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #337ab7;
  }
  
  h3 {
    margin: 10px 0;
    color: #f0ad4e;
  }
  
  button[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #f0ad4e;
  } */