body {
    font-family: 'Tiro Tamil', serif;
}

.delete_override_divs {
    display: flex;
    text-align: center;
}

.event_handler {
    flex: 1;
    text-align: center;
    align-items: center;
}

.events {
    border: 1px black;
    margin: auto;
    height: 20em;
    width: 50%;
    overflow: scroll;
    text-align: center;
    align-items: center;
}
