* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tiro Tamil', serif;
  }
  
  body {
    font-family: 'Tiro Tamil', serif;
    background: linear-gradient(purple, gold);
  }
  
  .intro_log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    width: 200px;
    border: 5px solid #001;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .title {
    margin-top: 20px;
    font-size: 24px;
    color: black;
  }
  
  .spacer {
    width: 25px;
    height: auto;
    display: inline-block;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
  }
  
  .login-button, .create-button {
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    background-color: darkslategrey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-button:hover, .create-button:hover {
    background-color: lightgrey
  }
