body {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	/* background: linear-gradient(purple, gold); */
	background: radial-gradient(circle at 10% 20%, rgb(145, 217, 243) 0%, rgb(147, 164, 243) 90%);
}

.main_body {
	display: inline-flex;
	min-height: 100vh;
}

/* FULL CALENDAR CSS CUSTOMIZATION */

.fc .fc-toolbar-title {
	text-align: center;
	font-weight: bold;
}

.fc .fc-event-time, .fc-event-title {
	padding: 0 1px;
	white-space: wrap;
}

.calendar {
	background: white;
	padding: 20px 20px 20px 20px;
	border: 5px solid black;
	border-radius: 25px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	width: 120%;
}

/* END FULL CALENDAR CSS CUSTOMIZATION */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

h1 {
	font-weight: bold;
	text-align: center;
	color: black;
	font-size: 10em;
	margin-bottom: 25%;
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

button {
	background-color: darkslategray;
	color: #fff;
	padding: 10px 20px;
	margin: 5px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: #555;
}

.fc-event-time, .fc-event-title {
	padding: 0 1px;
	white-space: normal;
}