body {
	font-family: 'Tiro Tamil', serif;
	background: linear-gradient(purple, gold);
}

.main_body {
	display: inline-flex;
	min-height: 100vh;
}

/* FULL CALENDAR CSS CUSTOMIZATION */

.fc .fc-toolbar-title {
	text-align: center;
	font-weight: bold;
}

.fc .fc-event-time, .fc-event-title {
	padding: 0 1px;
	white-space: wrap;
}

.calendar {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	width: 120%;
}

/* END FULL CALENDAR CSS CUSTOMIZATION */

.container {
	font-family: 'Tiro Tamil', serif;
	margin: 0;
	padding: 0;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

h1 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	color: black;
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

button {
	background-color: darkslategray;
	color: #fff;
	padding: 10px 20px;
	margin: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: #555;
}

.fc-event-time, .fc-event-title {
	padding: 0 1px;
	white-space: normal;
}