<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ai_confirmation.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>The AI produced this result: </h1>
            <form method="post" id="data_button">
                <button type="submit" name="option" value="proceed_button">Proceed and return to main page.</button>
            </form>
            <form method="post" id="data_button">
                <button type="submit" name="option" value="change_params">Return to previous page and change/update parameters.</button>
            </form>
        </div>
    </body>

</html>
