<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
</head>
<body>
	<div class="container">
		<h1>Amador Valley Community Planner</h1>
		<p>Welcome to the Amador Valley Highschool Community Planner, where you can schedule events manually or use AI to suggest the best time. Our AI system takes into account various factors such as availability to find the best time for your events.</p>
		<p>To get started, please select your preferred scheduling method:</p>
		<button>Manual Scheduling</button>
		<button>AI Suggestion</button>
	</div>
</body>
</html>

<!-- <p>Prototype for main page ver1, more stuff needed.</p> -->

