<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manual.css') }}">
    <title>Schedule Event Manually</title>
</head>
<body>
    <div class="container">
        <h1>Schedule Event Manually</h1>
        <form method="post" id="input_params">
            <div class="scheduleEventFor">
                <label class="form-label" for="eventTypeLabel">Schedule Event As:</label>
                <div class="checkboxGroup">
                    <input type="checkbox" id="holiday" name="eventTypeLabel" value="Holiday">
                    <label for="holiday">Holiday</label>
                </div>
                <div class="checkboxGroup">
                    <input type="checkbox" id="schoolEvent" name="eventTypeLabel" value="School Event">
                    <label for="schoolEvent">School Event</label>
                </div>
                <div class="checkboxGroup">
                    <input type="checkbox" id="custom" name="eventTypeLabel" value="Custom">
                    <label for="custom">Custom</label>
                </div>
                <input type="text" id="customLabelText" name="customLabelText" class="form-input customLabelText" placeholder="Enter Custom Event Classifier">
            </div>

            <div class="ai-options">
                <label class="form-label" for="ai-title">Generate Title/Description with AI? (Leave Unchecked if AI is not desired) Fill out the necessary fields first. You can view the generated title / description in the confirmation page. </label>
                <input type="radio" id="ai" name="ai" value="AI-Title">Generate Title Based on Description
                <input type="radio" id="ai" name="ai" value="AI-Description">Generate Description Based on Title
            </div>

            <label class="form-label" for="event-name">Event Name:</label>
            <input type="text" id="event-name" name="event-name" class="form-input" value = '{{title}}'>

            <label class="form-label" for="event-date">Event Date:</label>
            <input type="date" id="event-date" name="event-date" class="form-input" required>

            <label class="form-label" for="event-start-time">Event Start Time:</label>
            <input type="time" id="event-start-time" name="event-start-time" class="form-input" required>

            <label class="form-label" for="event-end-time">Event End Time:</label>
            <input type="time" id="event-end-time" name="event-end-time" class="form-input" required>

            <label class="form-label" for="event-description">Event Description:</label>
            <textarea id="event-description" name="event-description" class="form-input" rows="7">{{description}}</textarea>

            <label class="form-label" for="event-participants">Number of Participants:</label>
            <input type="text" id="event-participants" name="event-participants" class="form-input" required>

            <label class="form-label" for="participant-names">Participant Names:</label>
            <input type="text" id="participant-names" name="participant-names" class="form-input" required>
            
            <button type="submit" name="redirect" value="schedule_button">Schedule Event</button>
        </form>
    </div>
</body>
</html>