<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/new_user.css') }}">
        <title>New User Creation</title>
    </head>
    <body>
        <div class="container">
            <h1>Create New User Portfolio</h1>
            <h3>To create a new user, you will need administrator approval.</h3>
            <form method = "post" id="portfolio-form">
                <label for="admin_username">Admin Username:</label>
                <input type="text" id="admin_username" name="admin_username" placeholder="Enter the admin username" required>

                <label for="admin_password">Admin Password:</label>
                <input type="password" id="admin_password" name="admin_password" placeholder="Enter the admin password" required>
    
                <label for="username">New Username:</label>
                <input type="text" id="username" name="username" placeholder="Choose a username" required>
    
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="Choose a password" required>

                <label for="typeClassifier">Account Classifier:</label>
                <input type="text" id="typeClassifier" name="typeClassifier" placeholder="Enter the classifier for this account (Administrator, Teacher, Student)." required>
    
                <button type="submit">Create Portfolio</button>
            </form>
        </div>
    </body>
</html>